<div class="training-form-container" style="max-width: 45%; margin: 0 auto;">
    <%= render 'form', training: @training, categories: @categories, crops: @crops, form_title: "トレーニングデータ新規登録" %>
</div>

<div class="form-row justify-content-center mt-4">
  <%= link_to 'トレーニングデータ一覧', trainings_path, class: 'btn btn-outline-secondary custom-link' %>
</div>
