<div class="headline" style="text-align: center;">
  <div>農業お悩み解決サイト</div>
  <h2>【ドクターアグリ】</h2>
</div>

  <div class="app-info mt-4" style="max-width: 60%;">
    <h2 style="color: #006639;">ドクターアグリとは</h2>
    <div>
      <ol>
        <li>農業に関するお悩みをチャットボットに相談することができます。</li>
        <li>チャットボットの回答に満足していただけない場合には、農業コンサルタントへ回答を依頼することもできます。</li>
      </ol>
      <br>
      <p>
        <strong style="color: #006639;">【アンケートへの回答のお願い】</strong>
        <br>ドクターアグリではアンケートの回答にご協力いただくことで、チャットボットの回答精度が向上していきます。
        <br>回答精度向上のため、アンケートへのご協力の程どうぞよろしくお願いいたします。
      </p>
    </div>
  </div>