<div class="headline" style="text-align: center; background-color: #ce7878;">
  <h3>管理者の機能について</h3>
</div>

<div class="app-info mt-4 mb-4" style="max-width: 60%; background-color: #fff0ef;">
  <div>
    <strong style="font-size: 1.2rem; color: #cf4d4d;">【管理者の機能一覧】</strong>
    <ul>
      <li>アンケートの表示機能。</li>
      <li>アンケートのランキング表示機能。</li>
      <li>トレーニングデータの作成・表示・編集・削除機能。</li>
      <li>ユーザー情報の表示機能。</li>
    </ul>
      <strong style="font-size: 1.2rem; color: #cf4d4d;">【トレーニングデータをチャットボットへ学習させる方法 <i class="fa-solid fa-robot"></i> 】</strong>
      <p>ドクターアグリはチャットボット機能を外部サービスである『Chatsimple (チャットボット作成サービス)』で作成しています。
      <br>『Chatsimple』のトレーニング機能を使用することで、ドクターアグリに作成した独自のトレーニングデータをチャットボットへ学習させることができます。
      <ol>
        <li>『Chatsimple』にログインし、Training Materials を選択します。</li>
        <li>ドクターアグリの <%= link_to 'トレーニングデータ一覧画面', trainings_path %> のURLをコピーし、上記 1. のURL入力フォームに貼り付けます。</li>
        <li>Fetch URL をクリックし、トレーニングデータをチャットボットへ学習させます。</li>
      </ol>
      </p>
  </div>
</div>
