<div class="survey-form-container" style="max-width: 45%; margin: 0 auto;">
  <%= render 'form', survey: @survey, categories: @categories, crops: @crops, form_title: "アンケートの編集" %>
</div>

<div class="form-row justify-content-center mt-4">
  <%= link_to 'アンケートの詳細を確認する', @survey, class: 'btn btn-outline-secondary custom-link' %>
  <%= link_to 'アンケート一覧', surveys_path, class: 'btn btn-outline-secondary custom-link' %>
</div>
