<div class="survey-form mt-4" style="max-width: 30%;">
  <div style="color: #ffffff; text-align: center;">
    <h1>アンケートの編集</h1>
  </div>
  <div class="form-group mt-3">
    <%= render 'form', survey: @survey %>
  </div>
</div>

<div class="form-row justify-content-center mt-4">
  <%= link_to '詳細を確認する', @survey, class: 'btn btn-outline-secondary custom-link' %>
  <%= link_to 'アンケート一覧', surveys_path, class: 'btn btn-outline-secondary custom-link' %>
</div>
