/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import '@fortawesome/fontawesome-free/scss/fontawesome';


/* 横並び表示用のスタイル */
.nav-links {
  display: flex;
  align-items: center; /* アイテムを縦軸で中央揃えにする */
  flex-wrap: wrap; /* 必要に応じて折り返し */
}

.nav-link {
  margin: 0 10px; /* リンク間の余白を設定 */
}

.custom-link:hover {
  background-color: #d8d9db;
  color: black;
}
