// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.iframe-container, .survey-form-container {
  flex: 1;
  margin-right: 2%;
}

.survey-form-container {
  flex: 1;
}

.survey-form {
  position: relative;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 14px 28px 0px rgba(0,0,0,0.2);
  width: 100%;
  font-size: 1.0rem;
  th {
    color: #fff;
    background-color: #5fa3b4;
    text-align: center;
    font-size: 1.3rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  td {
    font-size: 1.0rem;
    line-height: 0.8;
  }
  tbody td {
    border: none;
  }
}

.consultant-message {
  display: none;
  color: #0f9bbe;
  padding-top: 10px;
}

.survey-info {
  margin: auto;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 14px 28px 0px rgba(0,0,0,0.2);
  width: 100%;
  font-size: 1.0rem;
  th {
    color: #fff;
    background-color: #5fa3b4;
    text-align: center;
    font-size: 1.3rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  td {
    font-size: 1.0rem;
  }
}

.ranking-container {
  margin: auto;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 14px 28px 0px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  > table {
    font-size: 1.2rem;
  }
  td {
    font-size: 1.2rem;
  }
}
