// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.iframe-container, .form-container {
  flex: 1;
}

.form-container {
  margin: auto;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 600px; /* 必要に応じて調整 */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* コンテンツ周りの余白 */
  background-color: #fff; /* 背景色を設定する場合 */

  // 特異性を高めるために追加のセレクタを使用
  > div.form-group {
    font-size: 1rem;
  }
  p {
    font-size: 1.2rem;
  }
}

/* 下からふわっと */
.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:3.0s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }